numpy
scipy
scikit-learn
matplotlib
pandas
xlrd
ipython
matplotlib_venn
statsmodels
python-pptx
Shapely
scikit-posthocs
urllib3
plotly
openpyxl
networkx
vcf
seaborn
pysam
gffutils
beautifulsoup4
adjustText